<h3>Edit {{piece.title}} by {{piece.composer.name}}</h3>

<form>
  <div>
    <label>Title:</label>
    {{input type="text" value=piece.title}}
  </div>
  <div>
    <select onchange={{action (mut composer-id) value="target.value"}}>
      <option>Select a Composer</option>
      {{#each composers as |composer|}}
        <option value={{composer.id}}>
        {{composer.name}}
        </option>
      {{/each}}
    </select>
  </div>
  <div>
    <button {{action 'editPiece' composer-id piece}}>Edit Piece</button>
    <button {{action 'cancel' piece}}>Cancel</button>
  </div>
</form>
